<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">

      <h3 class="text-muted">Home cover</h3>
      <form action="upload_homecover" method="post" enctype="multipart/form-data">
        <br />
          <textarea cols="40" rows="5" name="content"style="height:50px;width:300px"></textarea>
        <input type="submit" value="Upload" >
      </form>

      <h3 class="text-muted">recommend cover</h3>
      <form action="upload_recommendcover" method="post" enctype="multipart/form-data">
        <br />
          <textarea cols="40" rows="5" name="content"style="height:50px;width:300px"></textarea>
        <input type="submit" value="Upload" >
      </form>


      </div>
    </div>
  </body>
</html>