<!DOCTYPE html>
<html lang="en">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <h2 class="text-muted">Home cover</h2>
        <h3 class="text-muted">메인 화면에 들어가는 영상 5개</h3>
        <h3 class="text-muted">code와 함께 영상 5개를 입력한 후 upload를 눌러주세요</h3>
      <form action="upload_homecover" method="post" enctype="multipart/form-data">
        <br />
          <textarea placeholder="code" cols="40" rows="5" name="code"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video1" cols="40" rows="5" name="video1"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video2" cols="40" rows="5" name="video2"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video3" cols="40" rows="5" name="video3"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video4" cols="40" rows="5" name="video4"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video5" cols="40" rows="5" name="video5"style="height:20px;width:400px"></textarea><br />
        <input type="submit" value="Upload" >
      </form>

        <h2 class="text-muted">Recommend cover</h2>
        <h3 class="text-muted">추천 영상 상단 화면에 들어가는 영상 5개</h3>
        <h3 class="text-muted">code와 함께 영상 5개를 입력한 후 upload를 눌러주세요</h3>
      <form action="upload_recommendcover" method="post" enctype="multipart/form-data">
        <br />
          <textarea placeholder="code" cols="40" rows="5" name="code"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video1" cols="40" rows="5" name="video1"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video2" cols="40" rows="5" name="video2"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video3" cols="40" rows="5" name="video3"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video4" cols="40" rows="5" name="video4"style="height:20px;width:400px"></textarea><br />
          <textarea placeholder="video5" cols="40" rows="5" name="video5"style="height:20px;width:400px"></textarea><br />
        <input type="submit" value="Upload" >
      </form>


      </div>
    </div>
  </body>
</html>